.container-calculator{
    margin: 20px auto;
    max-width: 290px;
    background: #B9DFEE;
    display: grid;
    grid-template-columns: minmax(210px,290px);
    grid-template-rows: 150px 1fr;
    row-gap: 10px;
    box-shadow: 0 9px 9px 5px rgba(0, 0, 0,0.2);
    border-radius: 10%;
}

.display-numbers{
    justify-self: end;
    display: grid;
}

.display-numbers span{
    align-self: end;
    margin: 0 30px;
    font-size: 40px;
    
}

.display-btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 20px;
    gap: 20px;
    justify-self: center;
}

.btn{
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 40%;
    box-shadow: 0 9px 9px -2px rgba(0, 0, 0, .2)
}

.btn.btnClicked{
    animation: clicked 2ms forwards;
}

@keyframes clicked{
    to{
        box-shadow: inset 0 8px 6px 10px rgba(0, 0, 0, .2);
    }
}

.btn span{
    margin:  auto;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

.brown{
    background: #DF8433;
}

.brown {
    background: rgb(238, 119, 15);
}

.red{
    background: #E65232;
}

.yellow{
    background: #EEBF36;
}

.zero{
    grid-column: 1 / 3;
    width: 100%;
    border-radius: 20px;
}