body{
    background: #E95669;
    font-family: 'Roboto';
}

.commits{
    max-width: 290px;
    margin: 20px auto 5px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.commits-title{
    background: #B9DFEE;
    border-radius: 20%;
    box-shadow: 0 9px 9px 5px rgba(0, 0, 0,.2);
    display: flex;
    justify-content: center;
}

.commits-title h2{
    padding: 20px;
    text-align: center;
    font-size: 26px;
}
.commits-title img{
    max-width: 17px;
}
.commits-list {
    align-self: center;
}

.commits-list li{
    background:  #B9DFEE;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20%;
    box-shadow: 0 9px 9px 5px rgba(0, 0, 0,0.2);
    
}

.commits-list li h3{
    font-size: 16px;
}
